@charset "UTF-8";

/*スライド⇩ここから*/
.slideConts {
  margin: 0px auto;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: 1.5s;
}

.slideContsL {
  transform: translate(-2000px, 0);

}

.slideContsR {
  transform: translate(800px, 0);
}

.slideContsL.show {
  transform: translate(0px, 0) !important;
}

.slideContsR.show {
  transform: translate(0px, 0) !important;
}

/*ここまで(・o・)/*/
